/* src/components/Footer.css */
.footer {
    background-color: #034F71;
    color: #fff;
    padding: 26px 12px;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-logo img {
    width: 150px;
    height: auto;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  .footer-social {
    text-align: center;
    margin-right: 50px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
  }
  
  