/* Conteudo principal */
.main-content {
  display: flex;
  align-items: flex-start; /* Alinha no topo */
  flex-direction: column; /* Itens organizados em coluna */
  height: 400px;
  width: 100%;
}

.icons-section {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: -20px; /* Aproxima os ícones do header */
  max-width: 100%;
}

.carousel {
  display: flex;
  overflow-x: scroll; /* Rolagem horizontal */
  scroll-behavior: smooth; /* Rolagem suave */
  width: 60%;
  max-width: 800px;
  padding: 10px;
}

.icon-item {
  text-align: center;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição mais rápida */
  padding: 12px 12px;
  border-radius: 16px;
}

.icon-item:hover {
  background-color: rgba(0, 0, 0, 0.149);
}

/* Fundo mais escuro ao selecionar */
.icon-item.selected {
  background-color: rgba(0, 0, 0, 0.149);
}

.icon-item span {
  font-size: 16px;
  color: black;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.carousel-btn {
  background: none;
  color: black;
  font-weight: 600;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: none;
  margin: 10px;
  transition: font-size 0.5s ease;
}

.carousel-btn:hover {
  font-size: 26px;
}

.carousel-btn:focus {
  outline: none;
  box-shadow: none;
}

.carousel::-webkit-scrollbar {
  display: none; /* Remove a barra de rolagem */
}

/* Estilo para o título */
.icon-title {
  color: black;
  margin-left: 120px;
  transition: opacity 0.3s ease; /* Transição suave para a mudança de opacidade */
}

/* Se o título não estiver visível, mantém a opacidade */
.icon-title.hidden {
  opacity: 0;
}
