@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Conteúdo principal */
.main-content {
  display: flex;
  align-items: flex-start; /* Alinha no topo */
  flex-direction: column; /* Itens organizados em coluna */
  /* height: 400px; */
  /* width: 1275px; */
}

.icons-section {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: -20px; /* Aproxima os ícones do header */
  max-width: 100%;
}

.questions-section {
  width: 100%;
}

.questions-section h1, .NoQuestion {
  margin-left: 130px;
}

.questions-section h1 {
  font-family: 'Jomhuria';
  font-size: 100px;
  font-weight: 100;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 0.6;
}

.NoQuestion {
  margin-bottom: 60px;
}

.carousel {
  display: flex;
  overflow-x: scroll; /* Rolagem horizontal */
  scroll-behavior: smooth; /* Rolagem suave */
  width: 100%;
  max-width: 650px;
  padding: 10px;
}

.icon-item {
  text-align: center;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição mais rápida */
  padding: 12px 12px;
  border-radius: 16px;
}

.icon-item:hover {
  background-color: rgba(0, 0, 0, 0.149);
}

/* Fundo mais escuro ao selecionar */
.icon-item.selected {
  background-color: rgba(0, 0, 0, 0.149);
}

.icon-item span {
  font-size: 16px;
  color: black;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.carousel-btn {
  background: none;
  color: black;
  font-weight: 600;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: none;
  margin: 10px;
  transition: font-size 0.5s ease;
}

.carousel-btn:hover {
  font-size: 26px;
}

.carousel-btn:focus {
  outline: none;
  box-shadow: none;
}

.carousel::-webkit-scrollbar {
  display: none; /* Remove a barra de rolagem */
}

/* Estilo para o título */
.icon-title {
  color: black;
  margin-left: 120px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 46px;
  font-weight: 400;
}

/* ____________________________________________ */

.ContainerQ {
  background-color: #97BF41;
  margin-left: 130px;
  padding: 14px;
  display: flex;
  border-radius: 12px;
  flex-direction: column; /* Muda a direção para coluna */
  width: 60%; /* Defina uma largura adequada para o layout */
  margin-bottom: 40px;
  box-shadow: -5px 6px 8px rgba(0, 0, 0, 0.5);
}

.ParteCima {
  display: flex;
  justify-content: space-between; /* Alinha as colunas à esquerda e à direita */
  align-items: center; /* Centraliza verticalmente os elementos */
  width: 100%;
}

.Esquerda {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Altera apenas a cor dos itens ao passar o mouse */
.Esquerda:hover .NomePerfil,
.Esquerda:hover .FotoPerfil {
  color: rgba(0, 0, 0, 0.7); /* Cor mais escura ao passar o mouse */
  filter: brightness(0.7); /* Escurece a imagem da foto de perfil */
}

/* Estilo padrão para o nome */
.NomePerfil {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  font-family: 'Merriweather Sans';
  color: rgb(255, 255, 255); /* Cor padrão */
  transition: filter, color 0.6s ease;
}

/* Estilo padrão para a foto de perfil */
.FotoPerfil {
  width: 62px;
  height: 62px;
  max-height: 52px;
  max-width: 52px;
  border-radius: 100%;
  margin-right: 16px;
  margin-left: 8px;
  margin-top: 6px;
  border: 1px solid black;
  transition: filter 0.6s ease; /* Transição suave ao escurecer a imagem */
}

.Direita {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 17px;
  font-weight: 700;
  margin-right: 30px;
  color: rgb(83, 83, 83);
}

.opcao-lixo, .opcao-editar {
  color: rgb(66, 66, 66);
  cursor: pointer;
  transition: all 0.5s ease;
}

.opcao-editar:hover, .opcao-lixo:hover {
  width: 30px;
  height: 30px;
}

.ParteMeio {
  margin-top: 8px; /* Espaçamento para separar da parte de cima */
  font-size: 18px;
  text-align: justify;
  font-family: 'Montserrat';
  font-weight: 500;
  color: black;
  margin-left: 72px;
  margin-right: 26px;
  overflow-wrap: break-word;
}

.ParteMeio p {
  margin-bottom: 0px;
  font-family: 'Montserrat';
}

.ParteBaixo {
  display: flex;
  justify-content: space-between; /* Alinha os itens às extremidades */
  margin-top: 16px; /* Espaçamento acima */
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
  font-family: 'Inknut Antiqua', serif; /* Fonte para os itens */
}

.Responder {
  margin-left: 72px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.Respostas {
  margin-right: 26px;
  cursor: pointer;
  transition: color 1s ease;
}

.Responder:hover, .Respostas:hover {
  color: rgb(88, 88, 88);
}

/* ________________________________________ */

hr {
  border: 1px solid rgb(116, 116, 116);
  width: 90%;
}

.PlayTitulo {
  color: black;
  align-self: center;
  text-align: center;
  font-size: 40px;
}

.PlayFoto {
  align-self: center;
  cursor: pointer;
  width: 260px;
  max-width: 280px;
  transition: 0.5s;
}

.PlayFoto:hover {
  transform: scale(1.05);
}

.lerMais {
  background: none;
  border: none;
  color: rgb(88, 88, 88);
  cursor: pointer;
  font-size: 16px;
  margin-left: -18px;
  margin-top: 8px;
  /* margin-left: 72px; */
  /* margin-top: 5px; */
  text-decoration: underline;
}

.lerMais:focus {
  outline: none;
}
/* ___________________________________________ */
/* Parte Baixo */

.ParteBaixo {
  display: flex;
  justify-content: space-between; /* Alinha os elementos nas extremidades */
  margin-top: 16px; /* Espaçamento acima */
  margin-left: 52px; /* Alinhamento consistente com ParteMeio */
  margin-right: 26px;
}

/* Estilos para os elementos <p> que atuam como botões */
.Responder,
.Respostas {
  padding: 8px 16px; /* Espaçamento interno */
  font-size: 16px;
  border: 2px solid transparent; /* Borda transparente por padrão */
  border-radius: 8px;
  cursor: pointer;
  color: rgb(93, 93, 93);
  transition: color 0.5s ease;
  display: inline-block; /* Permite definir dimensões e centralizar texto */
  margin: 0; /* Remove margens padrão */
}

.Responder:hover,
.Respostas:hover {
  color: rgb(12, 12, 12);
}

/* Opcional: Adicionar foco para acessibilidade */
.Responder:focus,
.Respostas:focus {
  outline: none;
}

/* _____________________________________________ */
/* Resposta Container estilo respostas */

.RespostasContainer {
display: flex;
max-width: 60rem;
width: 55%;
flex-direction: column;
gap: 20px;
background-color: white;
margin-left: 180px;
margin-top: -120px;
opacity: 85%;
padding: 10px 20px;
margin-bottom: 20px;
border-radius: 8px;
}

#toti {
  font-size: 70px;
  margin-left: 60px;
}



/* _____________________________________ */
/* _____________________________________ */
/* _____________________________________ */


.RespostaItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.FotoPerfilResp {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}


/* Mexe na resposta do pop-up */
.RespostaItem {
  background-color: gold;
  border-radius: 10px;
  width: 400px;
  }
.RespostaTexto {
  background-color: gold;
  padding: 10px;
  border-radius: 8px;
  border-radius: 10px;
  width: 100%;
}

.NomeResp {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  
}

#Resp {
  margin-right: 240px;
}

.respostas-buttons{
  display: flex;
  justify-content: space-between; /* Espaça os botões igualmente */
  gap: 10px; /* Define a distância entre os botões */

}

.RespostaTexto p {
  margin: 5px 0 0 0;
  font-size: 20px;
}

/* Ajustes nas Imagens */
.FotoPerfilResp {
  object-fit: cover;
}

/* ajusta a foto de perfil e nome do perfil do pop-up */
.pop-up-info{
  display: flex;
  padding: 0px 50px;
  justify-content: space-between; /* Espaça os itens igualmente */
  align-items: center;
  margin-top: -20px;
}

.FotoPerfilpopup{
  width: 62px;
  height: 62px;
  max-height: 52px;
  max-width: 52px;
  border-radius: 100%;
  margin-left: -50px;
  margin-top: 6px;
  border: 1px solid black;
}

/* nome do usuario do pop-up */
#nome {
  font-size: 30px;
  color: gold;
  margin-right: 240px;
}

.perguntapopup{
  font-size: 20px;
  margin-right: 200px;
  margin-top: -30px;
}

.botaofechar{
  color: red;
  background-color: transparent;
  margin-right: -70px;
  margin-top: -40px;
}

/* Popup respostas */
.popup-resposta {
  background-color: white;
  padding: 50px;
  width: 400px;
  border: 2px solid #ba9440;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* _____________________________________ */
/* _____________________________________ */
/* Responder Container uo-Up */


/* Estilos da Parte Baixo das Perguntas */
.ParteBaixo {
  display: flex;
  justify-content: space-between; /* Alinha os elementos nas extremidades */
  margin-top: 16px; /* Espaçamento acima */
  margin-left: 52px; /* Alinhamento consistente com ParteMeio */
  margin-right: 26px;
}

/* Estilos para os elementos <p> que atuam como botões */
.Responder,
.Respostas {
  padding: 8px 16px; /* Espaçamento interno */
  font-size: 16px;
  border: 2px solid transparent; /* Borda transparente por padrão */
  border-radius: 8px;
  cursor: pointer;
  color: rgb(93, 93, 93);
  transition: color 0.5s ease;
  display: inline-block; /* Permite definir dimensões e centralizar texto */
  margin: 0; /* Remove margens padrão */
}

.Responder:hover,
.Respostas:hover {
  color: rgb(12, 12, 12);
}

/* Opcional: Adicionar foco para acessibilidade */
.Responder:focus,
.Respostas:focus {
  outline: none;
}

/* _____________________________________________ */
/* Resposta Container */
.RespostaContainer {
  display: flex;
  z-index: 1;
  background-color: aliceblue;
  margin-top: 120px;
  width: 800px;
}

/* _____________________________________ */
/* Responder Container PopUp */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para o título do pop-up */
.Responder-tittle {
  font-family: "Jomhuria";
  font-weight: 400;
  font-size: 85px;
  margin: 0;
}

/* Estilos para o parágrafo do pop-up */
.popup-overlay p {
  margin-top: -2px;
  font-size: 20px;
  text-align: center;
}

/* Estilos do conteúdo do pop-up */
.popup-content {
  background-color: white;
  padding: 50px;
  border: 2px solid #ba9440;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos do textarea do pop-up */
.popup-content textarea {
  max-width: 590px;
  font-size: 18px;
  width: 100%;
  height: 160px;
}

/* Estilos da parte de cima do pop-up */
.popup-cima {
  margin-bottom: 20px; /* Espaçamento inferior para separar do meio */
  text-align: center; /* Centraliza o texto */
}

/* Estilos da parte do meio do pop-up */
.popup-meio {
  margin-bottom: 20px; /* Espaçamento inferior para separar do baixo */
}

/* Estilos da parte de baixo do pop-up */
.popup-baixo {
  display: flex;
  justify-content: space-between; /* Alinha os botões nas extremidades */
}

/* Estilos dos botões da parte de baixo do pop-up */
.popup-baixo button, .edit-popup-buttons button, .excluir-popup-buttons button {
  padding: 8px 16px; /* Estilo do botão */
  font-size: 17px;
  background-color: #E6B64E;
  border: 2px solid transparent; /* Borda transparente por padrão */
  border-radius: 8px;
  cursor: pointer;
  color: black;
  transition: all 0.8s ease;
}

.popup-baixo button:hover, .edit-popup-buttons button:hover, .excluir-popup-buttons button:hover {
  background-color: #ac8838;
}

/* ______________________________________________ */
/* Animação do PopUp */
@keyframes popupSlideIn {
  0% {
    opacity: 0; /* O pop-up começa invisível */
    transform: translateY(-50px); /* Começa deslocado 50px para cima */
  }
  100% {
    opacity: 1; /* O pop-up se torna completamente visível */
    transform: translateY(0); /* Volta para a posição original */
  }
}

/* Aplica a animação de entrada ao conteúdo do pop-up */
.popup-content {
  animation: popupSlideIn 0.5s ease-out; /* Aplica a animação de entrada */
  opacity: 1; /* Garante que o pop-up seja visível ao final da animação */
}

/* _______________________________ */
/* Editar PopUp */

.edit-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Certifique-se de que o pop-up esteja acima de outros elementos */
}

.edit-popup-content {
  background: #fff; /* Cor de fundo do pop-up */
  border-radius: 8px; /* Cantos arredondados */
  padding: 40px ; /* Espaçamento interno */
  width: 600px; /* Largura do pop-up */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra do pop-up */
}

.edit-popup-title {
  text-align: center;
  margin-bottom: 15px; /* Margem abaixo do título */
  font-size: 70px; /* Tamanho da fonte do título */
  font-family: "Jomhuria";
  font-weight: 500;
}

textarea {
  align-self: center;
  max-width: 100%; /* Largura total do textarea */
  width: 575px;
  font-size: 18px;
  height: 100px; /* Altura do textarea */
  margin-bottom: 15px; /* Margem abaixo do textarea */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda do textarea */
  border-radius: 4px; /* Cantos arredondados */
  resize: vertical;
}

.edit-popup-buttons {
  display: flex; /* Para alinhar os botões lado a lado */
  justify-content: space-between; /* Espaçamento entre os botões */
}

.edit-popup-buttons button:focus{
  outline: none;
}

/* _______________________________ */
/*  */
/*  */
/* PopUp de Confirmar em excluir resposta */

.excluir-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Certifique-se de que o pop-up esteja acima de outros elementos */
}

.excluir-popup-content {
  background: #fff; /* Cor de fundo do pop-up */
  border-radius: 8px; /* Cantos arredondados */
  border: #ba9440 2px solid;
  padding: 40px ; /* Espaçamento interno */
  width: 600px; /* Largura do pop-up */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra do pop-up */
}

.excluir-popup-title {
  text-align: center;
  font-size: 100px; /* Tamanho da fonte do título */
  line-height: 80px;
  font-family: "Jomhuria";
  font-weight: 500;
}

.excluir-popup-content p {
  text-align: center;
  font-size: 24px;
}

.excluir-popup-buttons {
  display: flex; /* Para alinhar os botões lado a lado */
  justify-content: space-between; /* Espaçamento entre os botões */
}

.excluir-popup-buttons button {

}

.excluir-popup-buttons button:focus{
  outline: none;
}

/* _______________________________ */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*Responsividade  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


@media (max-width: 430px) {

  .main-content {
    display: flex;
    align-items: flex-start; /* Alinha no topo */
    flex-direction: column; /* Itens organizados em coluna */
   
  }
  
  .icons-section {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: -20px; /* Aproxima os ícones do header */
    max-width: 100%;
  }
  
  .carousel {
    display: flex;
    overflow-x: scroll; /* Rolagem horizontal */
    scroll-behavior: smooth; /* Rolagem suave */
    width: 100%;
    max-width: 650px;
    padding: 10px;
  }
  
  .icon-item {
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição mais rápida */
    padding: 12px 12px;
    border-radius: 16px;
  }
  
  .icon-item:hover {
    background-color: rgba(0, 0, 0, 0.149);
  }
  
  /* Fundo mais escuro ao selecionar */
  .icon-item.selected {
    background-color: rgba(0, 0, 0, 0.149);
  }
  
  .icon-item span {
    font-size: 16px;
    color: black;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
  }
  
  .carousel-btn {
    background: none;
    color: black;
    font-weight: 600;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: none;
    margin: 10px;
    transition: font-size 0.5s ease;
  }
  
  .carousel-btn:hover {
    font-size: 13px;
  }
  
  .carousel-btn:focus {
    outline: none;
    box-shadow: none;
  }
  
  .carousel::-webkit-scrollbar {
    display: none; /* Remove a barra de rolagem */
  }
  
  /* Estilo para o título */
  .icon-title {
    color: black;
    margin-left: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    font-weight: 400;
  }

  .RespostasContainer {
    display: flex;
    max-width: 60rem;
    width: 80%;
    flex-direction: column;
    gap: 20px;
    background-color: yellowgreen;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 85%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    }

  .questions-section h1 {
    margin-left: 12px;
    font-size: 80px;
  }
  
  /* ____________________________________________ */
  
  .ContainerQ {
    background-color: #97BF41;
    margin-left: 13px;
    padding: 14px;
    display: flex;
    border-radius: 12px;
    flex-direction: column; /* Muda a direção para coluna */
    width: 85%; /* Defina uma largura adequada para o layout */
    margin-bottom: 40px;
    box-shadow: -5px 6px 8px rgba(0, 0, 0, 0.5);
  }
  
  .ParteCima {
    display: flex;
    justify-content: space-between; /* Alinha as colunas à esquerda e à direita */
    align-items: center; /* Centraliza verticalmente os elementos */
    width: 100%;
  }
  
  .Esquerda {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  /* Altera apenas a cor dos itens ao passar o mouse */
  .Esquerda:hover .NomePerfil,
  .Esquerda:hover .FotoPerfil {
    color: rgba(0, 0, 0, 0.7); /* Cor mais escura ao passar o mouse */
    filter: brightness(0.7); /* Escurece a imagem da foto de perfil */
  }
  
  /* Estilo padrão para o nome */
  .NomePerfil {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    font-family: 'Inknut Antiqua', serif;
    color: rgb(255, 255, 255); /* Cor padrão */
    transition: filter, color 0.6s ease;
  }
  
  /* Estilo padrão para a foto de perfil */
  .FotoPerfil {
    width: 41px;
    height: 41px;
    max-height: 52px;
    max-width: 52px;
    border-radius: 100%;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 6px;
    /* border: 1px solid black; */
    transition: filter 0.6s ease; /* Transição suave ao escurecer a imagem */
  }
  
  .Direita {
    font-size: 17px;
    font-weight: 700;
    margin-right: 30px;
    color: rgb(83, 83, 83);
  }
  
  .ParteMeio {
    margin-top: 8px; /* Espaçamento para separar da parte de cima */
    font-size: 18px;
    text-align: justify;
    font-family: serif;
    font-weight: 500;
    color: black;
    margin-left: 2px;
    margin-right: 26px;
  }
  
  .ParteMeio p {
    margin-bottom: 0px;
  }
  
  .ParteBaixo {
    display: flex;
    justify-content: space-between; /* Alinha os itens às extremidades */
    margin-top: 16px; /* Espaçamento acima */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: 'Inknut Antiqua', serif; /* Fonte para os itens */
  }
  .ParteBaixo p {
    font-size: 13px; /* Ajuste o tamanho da fonte conforme necessário */
  }
  
  .Responder {
    margin-left: 2px;
    cursor: pointer;
    transition: color 0.5s ease;
  }
  
  .Respostas {
    margin-right: 26px;
    cursor: pointer;
    transition: color 1s ease;
  }
  
  .Responder:hover, .Respostas:hover {
    color: rgb(88, 88, 88);
  }
  
  /* ________________________________________ */
  
  hr {
    border: 1px solid rgb(116, 116, 116);
    width: 90%;
  }

  .NoQuestion {
    margin-left: 12px;
  }
  
  .PlayTitulo {
    color: black;
    align-self: center;
    text-align: center;
    font-size: 16px;
  }
  
  .PlayFoto {
    align-self: center;
    cursor: pointer;
    width: 140px;
    max-width: 280px;
    transition: 0.5s;
  }
  
  .PlayFoto:hover {
    transform: scale(1.05);
  }
  
  .lerMais {
    background: none;
    border: none;
    color: rgb(88, 88, 88);
    cursor: pointer;
    font-size: 16px;
    margin-left: -18px;
    margin-top: 8px;
  
    text-decoration: underline;
  }
  
  .lerMais:focus {
    outline: none;
  }

}

@media (max-width: 330px) {

  .main-content {
    display: flex;
    align-items: flex-start; /* Alinha no topo */
    flex-direction: column; /* Itens organizados em coluna */
   
  }
  
  .icons-section {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: -20px; /* Aproxima os ícones do header */
    max-width: 100%;
  }
  
  .carousel {
    display: flex;
    overflow-x: scroll; /* Rolagem horizontal */
    scroll-behavior: smooth; /* Rolagem suave */
    width: 100%;
    max-width: 650px;
    padding: 10px;
  }
  
  .icon-item {
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição mais rápida */
    padding: 12px 0px;
    border-radius: 16px;
  }
  
  .icon-item:hover {
    background-color: rgba(0, 0, 0, 0.149);
  }
  
  /* Fundo mais escuro ao selecionar */
  .icon-item.selected {
    background-color: rgba(0, 0, 0, 0.149);
  }
  
  .icon-item span {
    font-size: 16px;
    color: black;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
  }
  
  .carousel-btn {
    background: none;
    color: black;
    font-weight: 600;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: none;
    margin: 10px;
    transition: font-size 0.5s ease;
  }
  
  .carousel-btn:hover {
    font-size: 13px;
  }
  
  .carousel-btn:focus {
    outline: none;
    box-shadow: none;
  }
  
  .carousel::-webkit-scrollbar {
    display: none; /* Remove a barra de rolagem */
  }
  
  /* Estilo para o título */
  .icon-title {
    color: black;
    margin-left: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    font-weight: 400;
  }
  
  /* ____________________________________________ */
  
  .ContainerQ {
    background-color: #97BF41;
    margin-left: 13px;
    padding: 14px;
    display: flex;
    border-radius: 12px;
    flex-direction: column; /* Muda a direção para coluna */
    width: 75%; /* Defina uma largura adequada para o layout */
    margin-bottom: 40px;
    box-shadow: -5px 6px 8px rgba(0, 0, 0, 0.5);
  }
  
  .ParteCima {
    display: flex;
    justify-content: space-between; /* Alinha as colunas à esquerda e à direita */
    align-items: center; /* Centraliza verticalmente os elementos */
    width: 100%;
  }
  
  .Esquerda {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  /* Altera apenas a cor dos itens ao passar o mouse */
  .Esquerda:hover .NomePerfil,
  .Esquerda:hover .FotoPerfil {
    color: rgba(0, 0, 0, 0.7); /* Cor mais escura ao passar o mouse */
    filter: brightness(0.7); /* Escurece a imagem da foto de perfil */
  }
  
  /* Estilo padrão para o nome */
  .NomePerfil {
    font-size: 11px;
    font-weight: 700;
    margin: 0;
    font-family: 'Inknut Antiqua', serif;
    color: rgb(255, 255, 255); /* Cor padrão */
    transition: filter, color 0.6s ease;
  }
  
  /* Estilo padrão para a foto de perfil */
  .FotoPerfil {
    width: 31px;
    height: 31px;
    max-height: 52px;
    max-width: 52px;
    border-radius: 100%;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 6px;
    /* border: 1px solid black; */
    transition: filter 0.6s ease; /* Transição suave ao escurecer a imagem */
  }
  
  .Direita {
    font-size: 13px;
    font-weight: 700;
    margin-right: 25px;
    color: rgb(83, 83, 83);
  }
  
  .ParteMeio {
    margin-top: 8px; /* Espaçamento para separar da parte de cima */
    font-size: 18px;
    text-align: justify;
    font-family: serif;
    font-weight: 500;
    color: black;
    margin-left: 2px;
    margin-right: 26px;
  }
  
  .ParteMeio p {
    margin-bottom: 0px;
  }
  
  .ParteBaixo {
    display: flex;
    justify-content: space-between; /* Alinha os itens às extremidades */
    margin-top: 16px; /* Espaçamento acima */
    font-size: 13px; /* Ajuste o tamanho da fonte conforme necessário */
    font-family: 'Inknut Antiqua', serif; /* Fonte para os itens */
  }
  
  .Responder {
    margin-left: 2px;
    cursor: pointer;
    transition: color 0.5s ease;
  }
  
  .Respostas {
    margin-right: 26px;
    cursor: pointer;
    transition: color 1s ease;
  }
  
  .Responder:hover, .Respostas:hover {
    color: rgb(88, 88, 88);
  }
  
  /* ________________________________________ */
  
  hr {
    border: 1px solid rgb(116, 116, 116);
    width: 90%;
  }
  
  .PlayTitulo {
    color: black;
    align-self: center;
    text-align: center;
    font-size: 16px;
  }
  
  .PlayFoto {
    align-self: center;
    cursor: pointer;
    width: 140px;
    max-width: 280px;
    transition: 0.5s;
  }
  
  .PlayFoto:hover {
    transform: scale(1.05);
  }
  
  .lerMais {
    background: none;
    border: none;
    color: rgb(88, 88, 88);
    cursor: pointer;
    font-size: 16px;
    margin-left: -18px;
    margin-top: 8px;
  
    text-decoration: underline;
  }

  .NoQuestion {
    margin-left: 24px;
  }
  
  .lerMais:focus {
    outline: none;
  }

}