body {
    margin: 0;
    padding: 0;
}


.Login_container {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    /* margin-top: 20px; */
}

.Login_Esquerda {
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
}

.Imagem_Login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
}

.Login_Direita {
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.Login_Titulo {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    margin-bottom: 3vw;
    
}

.Login_Titulo h1 {
    /* border: 1px solid black; */

    font-size: 4vw;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
}

.Formulario_Login {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 20px 10px;
    width: 100%;
    height: 370px;
}

.Inputs {
    gap: 20px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 100%;
    
}

.Inputs_email {
    display: flex;
    flex-direction: column;
}

.Inputs_email label, .Inputs_senha label {
    font-size: medium;
    color: black;
    font-weight: bold;
}

.Inputs_email input, .Inputs_senha input {
    border-radius: 10px 0 10px 0;
    padding: 2px;
    border: 1px solid block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adiciona uma sombra */
    height: 4vw;
    width: 100%;
}

.Inputs_senha {
    display: flex;
    flex-direction: column;
}

.Opcoes_adicionais {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 30px;
    /* border: 1px solid black; */
    justify-content: center;
}

/* Estilizando a caixa de seleção */
.LembrarDeMim input[type="checkbox"] {
    transform: scale(1.7); /* Ajusta o tamanho da caixa */
    /* Outras propriedades de estilo, se necessário */
}

.LembrarDeMim label{
    font-size: 20px;
    margin-left: 6px;
}

.Btn_EsqueceuSenha {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.EnviarFormulario {
    /* border: 1px solid black; */
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.EnviarFormulario .Spinner{
    display: block;
    width: 50px;
    height: 50px;
}

.Btn_EnviarFormulario {
    padding: 2px;
    border-radius: 5px 20px 5px 20px;
    width: 50%;
    height: 50px;
    transition: 0.5s ease;
    background-color: #88B8DA;
    display: block;
}

.Btn_EnviarFormulario:hover {
    border-radius: 20px 5px 20px 5px;
}

.Aviso_de_erro {
    margin-top: 10px;
    margin-bottom: 10px;
}


.Cadastre-se {
    font-size: 20px;
}

.Txt_Cadastro {
    font-size: 30px;
}

.Txt_Cadastro .Btn_Cadastro {
    margin-left: 10px;
    text-decoration: none;
}

.Txt_Cadastro .Btn_Cadastro:hover{
    text-decoration: underline;
}

.Login_Google {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login_Google p{
    font-size: 2.5vw;
}

.Fundo_Google {
    background: linear-gradient(to bottom, #4d90fe, #357ae8 40%, #357ae8 60%, #4d90fe);
    /* Adicione outras propriedades de estilo conforme necessário */
    background-clip: text;
    color: transparent;
    transition: background 0.5s ease;
  }

  .bi-google {
    font-size: 50px;
  }
  

/* RESPONSIVIDADE */

@media (max-width: 992px) {
    .Inputs {
        flex-direction: row;
        justify-content: center;
    }
    .Login_container {
        flex-direction: column;
    }
    .Login_Esquerda {
        width: 100%;
    }
    .Imagem_Login {
        width: 50%;
        height: 50%;
    }

    .Login_Direita {
        width: 100%;
    }

    .Login_Direita {
        padding-top: 20px
    }

    .Login_Titulo {
        margin-bottom: 1vw;
    }
    .Inputs_email input, .Inputs_senha input {
        height: 30px;
    }
    .Formulario_Login {
        height: 200px;
    }
    .Login_Google p{
        font-size: 4vw;
    }
  }

  @media (max-width: 632px) {
    .Inputs {
        flex-direction: column;
        width: 50%;
    }

    .Formulario_Login {
        height: 300px;
    }

    .Opcoes_adicionais {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .Txt_Cadastro {
        font-size: 20px;
    }    
  }
  
  .Inputs_senha i {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: 1px solid black;
  }

  .olho-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .Input_senha_container {
    position: relative;
  }