/* src/components/Header/Header.css */
.header {
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 12px;
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    margin-bottom: 32px;
  }
  
  .logo {
    width: 125px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    margin-right: 20px;
  }
  
  .search-bar {
    padding: 16px;
    font-size: 14px;
    border-radius: 12px;
    outline: none;
    border: none;
  }
  
  .icon1 {
    margin-left: 320px;
    height: 52px;
    cursor: pointer;
    transition: color 0.8s ease;
  }
  
  .icon1:hover {
    color: rgb(0, 0, 0);
  }
  